<nav>
  <ul>
    <li class="<%= path === '/' ? 'active' : '' %>"><a href="/">Shop</a></li>
    <li class="<%= path === '/shop/products' ? 'active' : '' %>"><a href="/shop/products">Products</a></li>
    <li class="<%= path === '/shop/cart' ? 'active' : '' %>"><a href="/shop/cart">Cart</a></li>
    <li class="<%= path === '/shop/orders' ? 'active' : '' %>"><a href="/shop/orders">Orders</a></li>
    <li class="<%= path === '/admin/add-product' ? 'active' : '' %>"><a href="/admin/add-product">Add Product</a></li>
    <li class="<%= path === '/admin/product-list' ? 'active' : '' %>"><a href="/admin/product-list">Product List</a></li>
  
  
  </ul>
</nav>